
/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env


/public/vendor
/app/Models/BrasilNet
/app/Http/Controllers/Api/BrasilNet
/app/Repositories/BrasilNet
/app/Transformers/BrasilNet
/app/Presenters/BrasilNet
/resources/assets/brasilnet
/resources/views/brasilnet.blade.php


